.button {
  padding: 16px 24px;
  min-width: 56px;
  background-color: #f9a825;
  text-transform: uppercase;
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
  text-align: center;
  letter-spacing: 0.04rem;
  font-weight: 700;
  cursor: pointer;
  user-select: none;

  &.isLoading {
    opacity: .42;
    cursor: initial;
    box-shadow: none;
  }
}