.card {
  max-width: 320px;
  width: 100%;
  background-color: #424242;
  border-radius: 2px;
  box-shadow: 0 16px 30px rgba(0, 0, 0, .2);
  text-align: center;

  .cardTitle {
    font-size: 34px;
    letter-spacing: 0.025rem;
    border-bottom: 1px solid #616161;
    padding: 24px;
  }

  .cardBody {
    padding: 24px;
  }

  .cardFooter {
    font-size: 12px;
    letter-spacing: 0.040rem;
    padding: 8px 24px 24px;
  }
}