.button {
  padding: 16px 24px;
  min-width: 56px;
  border: 2px solid #f9a825;
  color: #f9a825;
  text-transform: uppercase;
  border-radius: 2px;
  text-align: center;
  letter-spacing: 0.04rem;
  font-weight: 700;
  cursor: pointer;
  user-select: none;

  &.disabled {
    opacity: .42;
    cursor: initial;
  }
}