.button {
  padding: 16px 24px;
  min-width: 56px;
  border: 2px solid #fbc02d;
  color: #fbc02d;
  text-transform: uppercase;
  border-radius: 2px;
  text-align: center;
  letter-spacing: 0.04rem;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
}